<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>出错了</title>
</head>
<body>
<div class="errorPage">
    <span class="oops">出错了!</span><br/>
    <p>发生了点意外...
        (<span th:text="${path}"></span>).
    </p>
    <p th:text="${'线索:' + message}"></p>
</div>
</body>
</html>