<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>用户</title>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.5-dist/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>
</head>
<body>
    <h2>用户信息</h2>
    <div th:if="${user}">
        帐号:
        <span th:text="${user.username}">帐号</span> 角色:
        <span th:each="role:${user.roles}">
            <span th:text="${role.role}">角色</span>
        </span>
    </div>
    <div th:unless="${user}">
        <p>没有该用户</p>
    </div>
</body>
</html>